.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(30) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}